<div class="row filter-breadcrumb">
    <!-- Use HTML special character here pls! -->
    <ul class="col-md-12 breadcrumb-list">
        <li class="breadcrumb-items">Trang chủ >> </li>
        <li class="breadcrumb-items">Đà Nẵng >> </li>
        <li class="breadcrumb-items">Đồ uống </li>
    </ul>
</div>
<div class="row filter-nav">
    <div class="col-md-12 search">
        <form class="form-search input-group">
            <input type="text" class="form-control" placeholder="Search here" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
        </form>
    </div>
    <div class="col-md-12 filter-bar">
        <div class="filter-items filter-city">
            <button type="button" class="btn btn-block btn-square" data-toggle="modal" data-target="#city">
                thành phố
            </button>
            <div class="modal fade" id="city" tabindex="-1" role="dialog" aria-labelledby="cityLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="cityLabel">chọn vị trí của bạn</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="list-location">
                                <li class="location"><a href="#"></a>hà nội</li>
                                <li class="location"><a href="#"></a>đà nẵng</li>
                                <li class="location"><a href="#"></a>hồ chí minh</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">đóng</button>
                            <button type="button" class="btn btn-primary">lưu thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-items filter-type">
            <button type="button" class="btn btn-block btn-square" data-toggle="modal" data-target="#type">
                quận/huyện
            </button>
            <div class="modal fade" id="type" tabindex="-1" role="dialog" aria-labelledby="typeLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="typeLabel">chọn vị trí của bạn</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="list-sub-location">
                                <li class="sub-location"><a href="#">sub location</a></li>
                                <li class="sub-location"><a href="#">sub location</a></li>
                                <li class="sub-location"><a href="#">sub location</a></li>
                                <li class="sub-location"><a href="#">sub location</a></li>
                                <li class="sub-location"><a href="#">sub location</a></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">đóng</button>
                            <button type="button" class="btn btn-primary">lưu thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-items filter-price">
            <button type="button" class="btn btn-block btn-square" data-toggle="modal" data-target="#price">
                mặt hàng
            </button>
            <div class="modal fade" id="price" tabindex="-1" role="dialog" aria-labelledby="priceLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="priceLabel">chọn mặt hàng cần mua</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="list-food-type">
                                <li class="food-type"><a href="#">mặt hàng cần mua</a></li>
                                <li class="food-type"><a href="#">mặt hàng cần mua</a></li>
                                <li class="food-type"><a href="#">mặt hàng cần mua</a></li>
                                <li class="food-type"><a href="#">mặt hàng cần mua</a></li>
                                <li class="food-type"><a href="#">mặt hàng cần mua</a></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">đóng</button>
                            <button type="button" class="btn btn-primary">lưu thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
