<div class="ads-top hidden-xs hidden-sm">

</div>    
<div class="row">
    <div class="filter-menu">
            <ul>
                <li>Trang chủ >></li>
                <li>Đà Nẵng >></li>
                <li>Đồ uống </li>
            </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12 search">
        <div style="position: relative;">
            <form class="form-search">
                <input type="text" id="searchValue" class="input-search" autocomplete="off" placeholder="Nhập từ khoá bạn tìm kiếm" value="">
                <button type="submit" class="bt-search">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
    <div class=" filter-wrap">
        <div class="col-md-12 filter-col">
            <div class="row">
                <div class=" filter-content col-xs-12">
                <span>
                    <button class="btn btn-default btn-lg col-xs-4 bt-filter">
                            <span itemprop="name">Đà Nẵng</span>
                            <span class="caret icon-filter"></span>
                    </button>
                    <div style="display: none;">
                    </div>
                </span>
                <span>
                    <button class="btn btn-default btn-lg col-xs-4 bt-filter">
                        <span itemprop="name">Đồ uống</span>
                        <span class="caret icon-filter"></span>
                    </button>
                    <div style="display: none;">
                    </div>
                </span>
                <span>
                        <button class="btn btn-default btn-lg col-xs-4 bt-filter">
                            <span itemprop="name">Ngày đăng</span>
                            <span class="caret icon-filter"></span>
                        </button>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 wrap">
    <div class="title">
        <div class="content-title">Tin đặc biệt</div>
    </div>
    <div class="product-best">
        <ul>
            <li>
                <div class="content-product-best">
                    <div class="detail-product-best">
                        <div class="imagebox">
                            <img src="images/dongho.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="imagebox">
                        </div>
                        <h3 itemprop="name" class="title-product-best">Đồng hồ cơ cổ Nga</h3>
                        <span class="price-product-best" content="900000">900.000
                        <meta content="VND"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="content-product-best">
                    <div class="detail-product-best">
                        <div class="imagebox">
                            <img src="images/dongho.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="imagebox">
                        </div>
                        <h3 itemprop="name" class="title-product-best">Đồng hồ cơ cổ Nga</h3>
                        <span class="price-product-best" content="900000">900.000
                        <meta content="VND"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="content-product-best">
                    <div class="detail-product-best">
                        <div class="imagebox">
                            <img src="images/dongho.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="imagebox">
                        </div>
                        <h3 itemprop="name" class="title-product-best">Đồng hồ cơ cổ Nga</h3>
                        <span class="price-product-best" content="900000">900.000
                        <meta content="VND"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-12 bt-content">
    <button class="bt-danhsach glyphicon glyphicon-th-list " title="Dạng danh sách"></button>
    <button class="bt-luoi glyphicon glyphicon-th-large" title="Dạng lưới"></button>
</div>
