<div class="row filter-breadcrumb">
    <!-- Use HTML special character here pls! -->
    <ul class="col-md-12 breadcrumb-list">
        <li class="breadcrumb-items">Trang chủ >> </li>
        <li class="breadcrumb-items">Đà Nẵng >> </li>
        <li class="breadcrumb-items">Đồ uống </li>
    </ul>
</div>
<div class="row filter-area">
    <div class="col-md-12 search">
        <form class="form-search input-group">
            <input type="text" class="form-control" placeholder="Search here" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
        </form>
    </div>
    <div class="col-md-12 filter-bar">
        <div class="filter-items filter-city">
            <button type="button" class="btn btn-block btn-square" data-toggle="modal" data-target="#city">
                City
            </button>
            <div class="modal fade" id="city" tabindex="-1" role="dialog" aria-labelledby="cityLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="cityLabel">Choose your Location</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-items filter-type">
            <button type="button" class="btn btn-block btn-square" data-toggle="modal" data-target="#type">
                type
            </button>
            <div class="modal fade" id="type" tabindex="-1" role="dialog" aria-labelledby="typeLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="typeLabel">Choose your Location</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-items filter-price">
            <button type="button" class="btn btn-block btn-square" data-toggle="modal" data-target="#price">
                price
            </button>
            <div class="modal fade" id="price" tabindex="-1" role="dialog" aria-labelledby="priceLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="priceLabel">Choose your Location</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row special-news">
    <div class="col-md-12 options-bar">
        <h2 class="products-title">Tin đặc biệt</h2>
        <button onclick="switchView()" class="btn btn-row glyphicon glyphicon-th-list switch-view disabled" title="Dạng danh sách"></button>
        <button onclick="switchView()" class="btn btn-grid glyphicon glyphicon-th-large switch-view" title="Dạng lưới"></button>
    </div>
    <div class="col-md-12 products">
        <ul class="products-list row-view">
            <li class="products-items">
                <div class="product">
                    <div class="product-image">
                        <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                    </div>
                    <div class="product-info">
                        <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                        <p class="product-price">900.000 VND</p>
                        <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                    </div>
                </div>
            </li>
            <li class="products-items">
                <div class="product">
                    <div class="product-image">
                        <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                    </div>
                    <div class="product-info">
                        <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                        <p class="product-price">900.000 VND</p>
                        <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                    </div>
                </div>
            </li>
            <li class="products-items">
                <div class="product">
                    <div class="product-image">
                        <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                    </div>
                    <div class="product-info">
                        <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                        <p class="product-price">900.000 VND</p>
                        <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
