<!-- Maked by: https://codepen.io/anon/pen/oqXNOM -->
<nav class="social">
    <ul>
        <li><a href="https://twitter.com/gian_michelle">Google Plus</a><i class="fas fa-camera-retro"></i></li>
        <li><a href="https://facebook.com/">Facebook</a><i class="fab fa-facebook-f"></i></li>
        <li><a href="http://dribbble.com/gian_michelle">Pinterest</a><i class="fab fa-pinterest-p"></i></li>
        <li><a href="http://behance.net/gianm">Messenger</a><i class="fab fa-facebook-messenger"></i></li>
    </ul>
</nav>