<!-- Maked by: https://codepen.io/anon/pen/oqXNOM -->
<nav class="social">
    <ul>
        <li><a href="https://twitter.com/gian_michelle">Google Plus <i class="fas fa-camera-retro"></i></a></li>
        <li><a href="https://facebook.com/">Facebook <i class="fab fa-facebook-f"></i></a></li>
        <li><a href="http://dribbble.com/gian_michelle">Pinterest <i class="fab fa-pinterest-p"></i></a></li>
        <li><a href="http://behance.net/gianm">Messenger <i class="fab fa-facebook-messenger"></i></a></li>
    </ul>
</nav>