<div class="product-content">
    <button onclick="openProductDetails()" class="btn btn-details glyphicon glyphicon-menu-right"></button>
    <h1 class="product-title">this is product title</h1>
    <div class="row">
        <div id="main-slider" class="col-md-6">
            <a href="images/default-image.jpg" title="default-image">
                <img src="images/default-image.jpg" alt="default-image">
            </a>
        </div>
        <div class="col-md-6 saler-profile">
            <p class="saler-name">
                <img class="saler-avatar" src="images/profile-default.png" alt="avatar">
                Saler name
            </p>
            <p class="saler-phone">Phone: 123123123</p>
            <p class="address">Sale address</p>

            <ul class="saler-star">
                <li>Star: </li>
                <li class="star-status">*</li>
                <li class="star-status">*</li>
                <li class="star-status">*</li>
                <li class="star-status">*</li>
                <li class="star-status">*</li>
            </ul>

            <div class="contact-saler">
                <button class="btn btn-success calling">Bấm để hiện số</button>
                <button class="btn btn-info message">Nhắn tin</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="policies">
        <h3 class="policy-title"> Các điều khoản sử dụng website: </h3>
    </div>

    <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>
