<div class="col-md-12 products">
    <div class="options-bar">
        <h2 class="products-title">Products</h2>
        <button class="btn btn-row glyphicon glyphicon-th-list " title="Dạng danh sách"></button>
        <button class="btn btn-grid glyphicon glyphicon-th-large" title="Dạng lưới"></button>
    </div>
    <ul class="products-list">
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                </div>
            </div>
        </li>
    </ul>
</div>