<div class="col-md-12 special-news">
    <div class="options-bar">
        <h2 class="products-title">Tin đặc biệt</h2>
        <button onclick="openProductDetails()" class="btn btn-option glyphicon glyphicon-menu-left"></button>
        <button onclick="switchView()" class="btn btn-option glyphicon glyphicon-th-list switch-view disabled" title="Dạng danh sách"></button>
        <button onclick="switchView()" class="btn btn-option glyphicon glyphicon-th-large switch-view" title="Dạng lưới"></button>
    </div>
    <div class="products">
        <ul class="products-list row-view">
            <li class="products-items">
                <div class="product">
                    <div class="product-image">
                        <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                    </div>
                    <div class="product-info">
                        <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                        <p class="product-price">900.000 VND</p>
                        <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                    </div>
                </div>
            </li>
            <li class="products-items">
                <div class="product">
                    <div class="product-image">
                        <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                    </div>
                    <div class="product-info">
                        <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                        <p class="product-price">900.000 VND</p>
                        <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                    </div>
                </div>
            </li>
            <li class="products-items">
                <div class="product">
                    <div class="product-image">
                        <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                    </div>
                    <div class="product-info">
                        <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                        <p class="product-price">900.000 VND</p>
                        <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-12 products">
    <h2 class="products-title">Tất cả sản phẩm</h2>
    <ul class="products-list row-view">
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
        <li class="products-items">
            <div class="product">
                <div class="product-image">
                    <img src="images/default-image.jpg" itemprop="image" alt="Đồng hồ cơ cổ Nga" class="image">
                </div>
                <div class="product-info">
                    <h4 itemprop="name" class="product-title">Đồng hồ cơ cổ Nga</h4>
                    <p class="product-price">900.000 VND</p>
                    <p class="product-profile"> <span>User's name</span> <i class="glyphicon glyphicon-user user-icon"></i></p>
                </div>
            </div>
        </li>
    </ul>
</div>