.ads
{
    border: 1px solid #cacaca;
    background: lightgrey;
    min-height: 100px;
    margin: 7px 0;
}

.wrap-ads
{
    padding:0 0 0 5px;
}

.ads-right
{
    border: 1px solid #cacaca;
    background: lightgrey;
    min-height: 600px;
}