.ads,
.advetisement-google,
.advetisement-producer
{
    border: 1px solid #cacaca;
    background: lightgrey;
    min-height: 100px;
    margin: 7px 0;
}

.advetisement-google {
    min-height: 400px;
}

.advetisement-producer {
    min-height: 800px;
}

.ads-right
{
    border: 1px solid #cacaca;
    background: lightgrey;
    min-height: 600px;
}