header {
    background-color: #000;

    .notification {
        
        .text-notify {
            color: pink;
        }
        
    }
}
header{
        .hello{
            color: red;
        }
    
}
