.options-bar {
    display: inline;

    .btn- {
        &row,
        &grid {
            color: tomato;
            float: right;
        }

        &row {
            margin-left: 4px;
        }
    }
}

.products
{
    width: 100%;

    &-title {
        display: inline;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        padding: 3.5px;
        align-items: stretch;
        border: 1px solid #cacaca;
    }

    .grid-view {

        .products-items
        {
            width: 33.33%;

            &:last-child .product,
            &:nth-child(3n) .product {
                margin-right: 3.5px;
            }

            .product {
                margin: 3.5px;
                border: 1px solid #cacaca;
                height: calc(100% - 7px); // Remove marginX2 to return default height

                .image {
                    width: 100%;
                }

                .product {
                    &-info {
                        padding: 0 10px;
                    }

                    &-price {
                        color: tomato;
                    }
                }
            }
        }
    }

    .row-view {

        .products-items
        {
            display: block;
            width: 100%;
            height: 100%;
            -webkit-transition: width 0.5s; /* Safari */
            transition: width 0.5s;

            &:first-child {
                margin-top: 0;
            }

            .product {
                margin: 3.5px;
                border: 1px solid #cacaca;
                height: 100%; // Remove marginX2 to return default height

                &:after {
                    content: "";
                    clear: both;
                    display: table;
                }

                .product-image {
                    max-width: 150px;
                    padding: 7px;
                    float: left;

                    .image {
                        width: 100%;
                    }
                }

                .product {
                    float: left;

                    &-info {
                        padding: 0 10px;
                    }

                    &-price {
                        color: tomato;
                    }
                }
            }
        }
    }
}